.cartSummary {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartTitle {
    padding: 8px 0 0 71px;
    margin: 0;
}

.cartImage {
    width: 150px;
    height: 150px;
    margin: 0 20px 20px 20px;
}

.counterBtn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8px;
}

.emptyCart {
    color: #fff !important;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}