* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin-top: 0;
    padding-top: 70px;
    min-height: 100vh;
    background: radial-gradient(circle at center, #f5f7fa 0%, #e0e8f0 30%, #d0dce5 60%, #c3cfe2 100%);
    transition: background 0.3s ease, color 0.3s ease !important;
    color: #000;
}

body.dark-mode {
    background: radial-gradient(circle at center, #0f0c29 0%, #1a1555 30%, #2d1f65 60%, #24243e 100%);
    color: #fff;
}

.parent {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.loader {
    position: relative;
    margin: auto;
    width: 130px;
    height: 100px;
    background-repeat: no-repeat;
    background-image: linear-gradient(#0277bd, #0277bd),
        linear-gradient(#29b6f6, #4fc3f7), linear-gradient(#29b6f6, #4fc3f7);
    background-size: 80px 70px, 30px 50px, 30px 30px;
    background-position: 0 0, 80px 20px, 100px 40px;
}

.loader:after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 12px;
    width: 10px;
    height: 10px;
    background: #4fc3f7;
    border-radius: 50%;
    box-sizing: content-box;
    border: 10px solid #0277bd;
    box-shadow: 78px 0 0 -10px #4fc3f7, 78px 0 #0277bd;
    animation: wheelSk 0.75s ease-in infinite alternate;
}

.loader:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 0px;
    height: 70px;
    width: 70px;
    background-image: linear-gradient(#4fc3f7 45px, transparent 0),
        linear-gradient(#4fc3f7 45px, transparent 0),
        linear-gradient(#4fc3f7 45px, transparent 0);
    background-repeat: no-repeat;
    background-size: 30px 4px;
    background-position: 0px 11px, 8px 35px, 0px 60px;
    animation: lineDropping 0.75s linear infinite;
}

@keyframes wheelSk {

    0%,
    50%,
    100% {
        transform: translatey(0)
    }

    30%,
    90% {
        transform: translatey(-3px)
    }
}

@keyframes lineDropping {
    0% {
        background-position: 100px 11px, 115px 35px, 105px 60px;
        opacity: 1;
    }

    50% {
        background-position: 0px 11px, 20px 35px, 5px 60px
    }

    60% {
        background-position: -30px 11px, 0px 35px, -10px 60px
    }

    75%,
    100% {
        background-position: -30px 11px, -30px 35px, -30px 60px;
        opacity: 0;
    }
}